<div class="service_entry">
  <div class="page_top_basic">
    <h2>システム開発・スタートアップ・サービス</h2>
    <div class="description inside">
      Perl システム開発をリーズナブルな価格でご提供。<br>
      木本システムの「Perl システム開発 スタートアップサービス」は<br>
      開発コスト、開発速度、検索エンジン最適化に自信があります。
    </div>
  </div>
  
  <h3>価格</h3>
  <p>
    基本価格 月額29万8000円
  </p>

  <h3>開発体制</h3>
  <p>
    Web開発マネージャーとWeb開発者のペアで、ヒアリング、Webデザイン、システム開発、データベース開発までを一貫して行います。スタートアップサービスでは、Web開発が、Web開発経験の浅い方になる場合があり、会社都合で交代する場合があります。1日3時間、週4回の作業量が目安です。
  </p>

  <h3>契約形態</h3>
  <p>
    契約形態は、準委任契約です。システム開発の作業に対して報酬を支払う契約です。システムの完成を約束して、引き渡す請負契約とは異なるので、ご注意ください。システム開発では、開発の段階で、機能の追加が頻繁に起こり、品質を確保した、完全に決まった納期を約束することができません。そのため、リーズナブルな価格での準委任契約のみを契約形態としています。
  </p>
  
  <h3>シンプルでスマートフォン対応のWebデザイン</h3>
  
  <p>
    木本システムのシステム開発では、シンプルでスマートフォン対応のWebデザインを提供。見た目をすっきり、シンプルなアイコンと写真を使った、スマートフォン対応のWebデザイン。
  </p>
  <p>
    追加の料金で提供可能なもの。PhotoshopやIllustratorなどを使った、イラストが必要な場合は、提携しているデザイナー様、デザイン会社様に依頼して、追加の料金で提供可能です。
  </p>
  
  <h3>スマートフォンアプリ対応</h3>
  <p>
    後ほどスマートフォンアプリが必要になった場合は、提携しているアプリ開発者様、アプリ開発会社様に依頼して、追加の料金で提供可能です。
  </p>
  
  <h3>サーバー</h3>
  
  <p>
    サーバーは、Azure, AWS, 各種クラウド、各種VPSサービス、ご予算と用途に合わせて選択可能。小さなWebサービスから始める場合は、一か月3万円程度を見積もっておくとよいでしょう。月額の最安の料金は、VPSサービスを開発環境と本番環境とバックアップ環境を使って、1万円以内で可能です。
  </p>
  
  <h3>自信あり</h3>
  <p>
    SEO対策、開発速度、保守性、シンプルで整ったWebデザイン、テキストデータ処理、Linuxサーバー管理
  </p>

  <h3>システム開発の内容例</h3>
  <p>
    請求書、見積書、会員登録、購入受付・予約受付・ショッピングカート・情報検索、メール配信、マッチングメール、データベース構築、アンケート、
  </p>

</div>
