<style>
  /* 開発実績 */
  .reason_entry {
    padding-bottom:50px;
  }
  .reason_entry h2 {
    font-size:32px;
    background: #1E65A6;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    background-position:50% 50%;
    color:black;
    color:white;
    padding-top:30px;
  }
  .reason_entry h2 a, .reason_entry h2 a:visited {
    text-decoration:none;
    letter-spacing:1px;
  }
  .reason_entry_message {
    text-align:center;
    color:white;
    font-weight:bold;
    background: #1E65A6;
    background-size:4px 4px;
    padding:13px 0;
    letter-spacing:1px;
    line-height:1.9;
    font-size:16px;
  }

  .reason_entry h3 {
    font-size:26px;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    margin-top:40px;
    color:#3c3c33;
    text-align:center;
  }
  .reason_entry h4 {
    font-size:18px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 5px 0;
  }
  .reason_entry p {
    font-size:16px;
    color:#111;
    margin:5px 0;
    line-height:1.9;
    width:100%;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
  }
</style>

<div class="reason_entry">
  <h2>Perlはサーバーとして最適で無料で利用可能な<br>Linuxとの相性がバツグン</h2>
  <div class="reason_entry_message">
    Linuxはサーバーとして最適・無料。<br>Perlは、Linuxミドルウェアの支援ツールとして採用されており<br>サーバー管理の仕事を素早く処理。
  </div>
  
  <h3>Linuxはサーバーとして最適で無料で利用可能</h3>
  <p>
    Linuxは、OSの中でもサーバーとして最適で、無料で利用可能です。そのため、Linuxは現在サーバーOSとして最大のシェアを持っています。オープンソースと呼ばれる無料で利用できるソフトウェアが、インストールして利用可能。セキュアな接続に必要なOpenSSL、ソースコードの効率的な管理のためのGit、データベース「MySQL/MariaDB」などが、無料で利用できます。
  </p>
  
  <h3>PerlはLinuxのミドルウェアの支援ツール</h3>
  <p>
    Perlは、セキュアな接続に必要なOpenSSL、ソースコードの効率的な管理のためのGit、データベース「MySQL/MariaDB」などが、無料で利用できます。Linuxミドルウェアの支援ツールとして、利用されています。このため、Perlは、ほとんどのLinuxサーバーに、インストールされており、サーバー管理者の強い味方です。
  </p>

  <h3>サーバー管理の仕事を素早く処理</h3>
  <p>
    Perlは、テキスト処理が得意なプログラミング言語で、サーバー管理においては、テキスト処理が頻繁に行われます。Webシステム開発と合わせて、サーバーにおけるテキスト処理を一貫して行うことで、システムの開発効率を高めることができます。
  </p>
</div>
