<div class="reason_entry">
  <h2>Perlはサーバーとして最適で無料で利用可能な<br>Linuxとの相性がバツグン</h2>
  <div class="reason_entry_message">
    Linuxはサーバーとして最適・無料。<br>Perlは、Linuxミドルウェアの支援ツールとして採用されており<br>サーバー管理の仕事を素早く処理。
  </div>
  
  <h3>Linuxはサーバーとして最適で無料で利用可能</h3>
  <p>
    Linuxは、OSの中でもサーバーとして最適で、無料で利用可能です。そのため、Linuxは現在サーバーOSとして最大のシェアを持っています。オープンソースと呼ばれる無料で利用できるソフトウェアが、インストールして利用可能。セキュアな接続に必要なOpenSSL、ソースコードの効率的な管理のためのGit、データベース「MySQL/MariaDB」などが、無料で利用できます。
  </p>
  
  <h3>PerlはLinuxのミドルウェアの支援ツール</h3>
  <p>
    Perlは、セキュアな接続に必要なOpenSSL、ソースコードの効率的な管理のためのGit、データベース「MySQL/MariaDB」などが、無料で利用できます。Linuxミドルウェアの支援ツールとして、利用されています。このため、Perlは、ほとんどのLinuxサーバーに、インストールされており、サーバー管理者の強い味方です。
  </p>

  <h3>サーバー管理の仕事を素早く処理</h3>
  <p>
    Perlは、テキスト処理が得意なプログラミング言語で、サーバー管理においては、テキスト処理が頻繁に行われます。システム開発と合わせて、サーバーにおけるテキスト処理を一貫して行うことで、システムの開発効率を高めることができます。
  </p>
</div>
