<div class="reason_entry">
  <div class="page_top_basic">
    <h2>Perlはサーバーとして最適で<br>無料で利用可能な<br>Linuxとの相性がバツグン</h2>
    <div class="description">
      <div class="inside">
      </div>
    </div>
  </div>
  
  <div class="inside">
    <h3>PerlはLinuxのミドルウェアの支援ツール</h3>
    <p>
      Perlは、セキュアな接続に必要なOpenSSL、ソースコードの効率的な管理のためのGit、データベース「MySQL/MariaDB」などが、無料で利用できます。Linuxミドルウェアの支援ツールとして、利用されています。このため、Perlは、ほとんどのLinuxサーバーに、インストールされており、サーバー管理者の強い味方です。
    </p>

    <h3>Linuxはサーバーとして高品質で無料で利用可能</h3>
    <p>
      Linuxは、OSの中でもサーバーとして最適で、無料で利用可能です。そのため、Linuxは現在サーバーOSとして最大のシェアを持っています。オープンソースと呼ばれる無料で利用できるソフトウェアが、インストールして利用可能。セキュアな接続に必要なOpenSSL、ソースコードの効率的な管理のためのGit、データベース「MySQL/MariaDB」などが、無料で利用できます。
    </p>
    
    <h3>PerlでLinxuサーバー管理の仕事を素早く処理</h3>
    <p>
      Perlは、テキスト処理が得意なプログラミング言語で、サーバー管理においては、テキスト処理が頻繁に行われます。システム開発と合わせて、サーバーにおけるテキスト処理を一貫して行うことで、システムの開発効率を高めることができます。
    </p>
  </div>
</div>
