<h2>代表からのメッセージ</h2>

代表からのメッセージ。

<h3>コストパフォーマンスに優れ、ユーザーのニーズを満たす</h3>

木本システムの根幹の技術は、Perlというプログラミング言語を使ったWebサイト製作・Webシステム開発です。

技術の世界は日進月歩と言われますが、実際は、古典的な技術をうまく組み合わせれば、保守性・効率性の高いWebシステムを開発することができます。

現在は、情報がない時代というよりも、情報が溢れすぎ、物事がどんどん複雑になっていっている時代だと感じています。

そんな時代の中で、コストパフォーマンスに優れ、ユーザーのニーズを満たせる適切な方法を発見し、提供していくことが、木本システムの使命です。

<h3>エンジニア・デザイナーの技術向上</h3>

Webシステム開発・Webサイト製作は、エンジニア・デザイナーの技術向上こそが、最も重要と考えています。

顧客から要望をヒアリングをして、必要なデザインと機能を過不足なく書き出す能力。

顧客の要望に必要なデータの形を、実際にデータベースに落とし込む能力。

コストを意識し、必要な期間内に、システムを開発する能力。

長期間のメンテナンスに耐える保守的なプログラムを書く能力。

エンドユーザーから発見されるWebサイトを作る能力。

キーワードを適切に選定し、Webライティングできる能力。

商品やサービスの品質の良さを写真と短い言葉を使って表現できる能力。

Webサイト製作・Web開発に必要な能力は、多岐にわたります。

木本システムでは、エンジニア・デザインナーの研修に力を入れています。

研修教材を作成し、Webサイト作成・Webシステム開発で実際に使い、コストパフォーマンスに優れた手法を研修教材として残しておく。次の世代を担うエンジニア・デザイナーが活用でき、同じ失敗を繰り返さないようにする。

研修教材は、公開しており、ご覧いただくことが可能です。
