<div class="blog">
<h2>【開発実績】振込システムのパフォーマンス解析・調査</h2>

振込システムのパフォーマンス解析・調査は、振込システムのWebサービスとバッチ処理のパフォーマンスの解析・調査です。Webサーバー・データベースサーバーが出力するログをサーバーから取得し、パフォーマンス情報に編集し、遅延を調査し、Excelのレポートとして出力します。

<h3>主要機能</h3>

振込システムのパフォーマンス解析・調査の主要機能。

<ul>
  <li>サーバーログ取得</li>
  <li>Webサーバーログ解析</li>
  <li>データベースサーバーログ解析</li>
  <li>遅延SQLの調査</li>
  <li>遅延HTTPリクエストの調査</li>
  <li>CPU・メモリ・ディスク容量調査</li>
</ul>

<h3>使用技術</h3>

振込システムのパフォーマンス解析・調査の仕様技術。

<table>
  <tr>
    <th>Webサーバー</th><td>Apache</td>
  </tr>
  <tr>
    <th>データベース</th><td>独自製品</td>
  </tr>
  <tr>
    <th>サーバーOS</th><td>AIX</td>
  </tr>
  <tr>
    <th>プログラミング言語</th><td>Perl, Excel VBA</td>
  </tr>
  <tr>
    <th>ホスティングサービス</th><td>オンプレミス</td>
  </tr>
</table>
</div>
