<div class="achieve_entry">
  <div class="page_top_basic">
    <h2>不動産物件検索システム</h2>
    <div class="description">
      <div class="inside">
        不動産物件検索システムは、自社管理の物件を登録して、顧客がWebサイトで検索することができるWebシステムです。
      </div>
    </div>
  </div>

  <h3>システム概要</h3>

  <div class="inside">
    <p>
      不動産物件検索システムは、自社管理の物件を登録して、顧客がWebサイトで検索することができるWebシステムです。
    </p>
    <p>
      会員登録、ログインしてメッセージのやり取り、お気に入り物件の登録、お気に入り条件の登録、新着物件をメールでお知らせができます。
    </p>
  </div>

  <h3>主要機能</h3>

  <div class="inside">
    <p>
      不動産物件検索システムの主要機能。
    </p>
    <ul>
      <li>会員登録機能</li>
      <li>ログイン機能</li>
      <li>お気に入り物件保存</li>
      <li>お気に入り条件保存</li>
      <li>新着物件お知らせメール</li>
    </ul>
  </div>

  <h3>使用技術</h3>

  <div class="inside">
    <p>
      不動産物件検索システムの使用技術。
    </p>
    <p>
      オーソドックスで安定的なWeb技術を使った、開発効率の高いシステム開発。
    </p>
    <table>
      <tr>
        <th>Webサーバー</th><td>Apache</td>
      </tr>
      <tr>
        <th>データベース</th><td>MariaDB/MySQL</td>
      </tr>
      <tr>
        <th>サーバーOS</th><td>Linux/CentOS</td>
      </tr>
      <tr>
        <th>プログラミング言語</th><td>Perl</td>
      </tr>
      <tr>
        <th>Webフレームワーク</th><td>Mojolicious</td>
      </tr>
      <tr>
        <th>Webデザイン</th><td>HTML5,CSS3,JavaScript,jQuery</td>
      </tr>
      <tr>
        <th>ソースコード管理</th><td>Git/GitHub</td>
      </tr>
      <tr>
        <th>ジョブ管理</th><td>cron</td>
      </tr>
      <tr>
        <th>ホスティングサービス</th><td>さくらのクラウド</td>
      </tr>
    </table>
  </div>
</div>

