<div class="achieve_entry">
  <div class="page_top_basic">
    <h2>通信キヤリア間の通信料金の振り分けシステム</h2>
  </div>

  <h3>システム概要</h3>
  <div class="inside">
    <p>
      通信キヤリア間の通信料金の振り分けシステムは、通話によって発生した通信料金を、携帯電話会社の地方子会社への収益を振り分けを計算するバッチシステムです。
    </p>
    <p>
      料金振り分けの仕様書を元に、料金データの入力ファイルから、振り分けされた出力ファイルを作ります。
    </p>
  </div>

  <h3>主要機能</h3>

  <div class="inside">
    <p>
      通信キヤリア間の通信料金の振り分けシステムの主要機能。
    </p>
    <ul>
      <li>データファイルFTPダウンロード・アップロード</li>
      <li>料金データの読み込み</li>
      <li>料金データ振り分け処理</li>
      <li>振り分け後データの出力処理</li>
    </ul>
  </div>

  <h3>使用技術</h3>

  <div class="inside">
    <p>
      通信キヤリア間の通信料金の振り分けシステムの使用技術。
    </p>
    <table>
      <tr>
        <th>サーバーOS</th><td>HP Unix</td>
      </tr>
      <tr>
        <th>プログラミング言語</th><td>C言語</td>
      </tr>
      <tr>
        <th>ソースコード管理</th><td>CVS</td>
      </tr>
      <tr>
        <th>ホスティングサービス</th><td>オンプレミス</td>
      </tr>
    </table>
  </div>
</div>