<div class="blog">

<h2>【開発実績】物件撮影スケジュール管理システム</h2>

物件撮影スケジュール管理システムは、物件が建築されていく工程を定期的に撮影する撮影部が利用するスケジュール管理システムです。

物件が登録されると、自動的に写真撮影のスケジュールが組まれます。次回の撮影予定日を、条件を元に自動的に設定できます。日付を選択することで、その日に撮影する必要のある物件を絞り込むことができます。

Excelで管理されていたものを件数が多くなってきたという理由で、Webシステムにしたものです。

<h3>主要機能</h3>

物件撮影スケジュール管理システムの主要機能。

<ul>
  <li>初回撮影日の自動登録</li>
  <li>次回撮影日の自動登録</li>
  <li>日付と撮影状態で件数確認</li>
  <li>写真検索</li>
  <li>撮影スタッフ用ログイン機能</li>
  <li>CSV出力機能</li>
</ul>

<h3>使用技術</h3>

オーソドックスで安定的なWeb技術を使った、開発効率の高いWebシステム開発。

<table>
  <tr>
    <th>Webサーバー</th><td>Apache</td>
  </tr>
  <tr>
    <th>データベース</th><td>MariaDB/MySQL</td>
  </tr>
  <tr>
    <th>サーバーOS</th><td>Linux/CentOS</td>
  </tr>
  <tr>
    <th>プログラミング言語</th><td>Perl</td>
  </tr>
  <tr>
    <th>Webフレームワーク</th><td>Mojolicious</td>
  </tr>
  <tr>
    <th>Webデザイン</th><td>HTML5,CSS3,JavaScript,jQuery</td>
  </tr>
  <tr>
    <th>ソースコード管理</th><td>Git/GitHub</td>
  </tr>
  <tr>
    <th>ジョブ管理</th><td>cron</td>
  </tr>
  <tr>
    <th>ホスティングサービス</th><td>オンプレミス</td>
  </tr>
</table>
</div>

</div>
