<h2>準委任契約によるシステム開発委託契約</h2>

システム開発契約書の作成は、木本システムで行います。契約の種類は、<b>準委任型のシステム開発委託契約</b>です。請負型のシステム開発受託契約ではないことに注意してください。木本システムは、委託を受けてシステム開発を行う時間を提供するという契約です。成果物責任を負うという契約ではないので注意してください。

ソフトウェア開発においては、作りたい機能が、開発とともに変化していくことが多く、見積もりが非常に難しいために、柔軟に対応できる準委任型のシステム開発委託契約のみを扱っています。

最初のヒアリングの段階で、なるべく多くの要望を聞いて書きだし、開発期間を見積もりますが、機能の品質を高めたいという要望がでてきた場合に、開発期間が延びるということが起こります。このようなことが、ソフトウェア開発においては、頻繁に起こるために、成果物責任を負うことは、お客様にとっても、柔軟な変更に対応することができず、望まないシステムを提供することになると考えています。

木本システムで作成した契約書の内容について、やり取りを行い、おおむねの合意ができましたら、最終的な合意に向かって、必要な項目を微修正します。
