<h2>Perlのモジュール作成サービス</h2>

Perlのモジュール作成サービスのご紹介です。モジュールとは、特定の機能をプログラムに提供するための部品のことです。

<h3>オリジナルのPerlのモジュールを作成</h3>

業務で必要とされるオリジナルのPerlのモジュールを作成します。Perlはオープンソースで、一般的な用途に使える便利なモジュールが、インターネット上にはたくさんありますが、特定の業務で利用できるモジュールが、無料で利用できる場合は少ないでしょう。

そのような場合に、オリジナルのPerlのモジュールを作成いたします。

<h3>高品質なモジュール作成</h3>

木本システムは、プログラミング言語Perlを主要な開発言語としている会社です。モジュールの作成には、過不足なく機能を実装する、機能にバグが含まれないように正しい試験を作成する、コードをクリーンに保つ、パフォーマンス要件を満たすなど、一定の技術力が必要です。

高品質なモジュールを作成しておけば、バグが減り、機能追加の対応が速くなり、プログラムの管理効率が上がります。プログラムの管理効率が上がれば、システム全体の管理効率も上がり、サービスの費用対効果を高めることができます。

商品のサービス内容が似ていれば、システム品質改善、システムコストダウンで、提供価格やサービス品質を他社と差別化することができます。

<h3>処理にC言語レベルのパフォーマンスが必要になる場合</h3>

画像や動画や信号などバイナリデータを処理する場合で、C言語レベルのパフォーマンスが必要になる場合でも、対応可能です。

SPVMを使ったバイナリ処理や、XSやC言語を使ったバイナリ処理を書くことができます。
