<h2>Webアプリケーションのセキュリティ対策</h2>

Webアプリケーションのセキュリティ対策です。

<h3>サーバーのセキュリティ対策</h3>

サーバーに関するセキュリティ対策です。

<h4>SSHのポート番号はデフォルトの22番から変更</h4>

SSHのポート番号はデフォルトの22番ポートは、ポートスキャニングによって、クラッカーによって、狙われていますので、それ以外のポート番号に変更します。

<h4>ファイアーウォールで必要なポートだけに限定</h4>

サーバーの受け入れポートを、ファイアーウォールでWebアプリケーション開発で必要とするポートだけに限定します。

<h4>HTTPSによるWebサイトの表示</h4>

HTTPではなくHTTPSを使って、Webサイトを表示できるようにサーバーを構成します。

<h3>データベースのセキュリティ対策</h3>

データベースのセキュリティ対策です。

<h4>WebアプリケーションのSQL実行権限を限定</h4>

WebアプリケーションのSQL実行権限をinsert,update,delete,selectに限定します。

<h4>SQLインジェクション対策</h4>

WebアプリケーションのSQLの実行は、SQLインジェクション対策として、プレースホルダーを使って実行します。

<h3>JavaScriptのセキュリティ対策</h3>

JavaScriptのセキュリティ対策です。

<h4>任意の文字列で動的にJavaScriptを生成しない</h4>

プログラムの中で、任意の文字列でJavaScriptを動的に生成していないかを、コードレビューに含めています。
