<div class="blog">
<h2>【開発実績】不動産顧客管理システム</h2>

不動産顧客管理システムは、不動産の購入希望の顧客をデータベースで管理するWebシステム。顧客に対応するスタッフがログインして、スタッフと顧客がメッセージを交換することができる。顧客の希望する物件やお気に入り条件を閲覧できる。物件の資料請求を一覧し、販売図面をオンラインで提供することができる。

<h3>主要機能</h3>

不動産顧客管理システムの主要機能。

<ul>
  <li>物件資料請求管理</li>
  <li>物件検索</li>
  <li>スタッフ用ログイン機能</li>
  <li>お気に入り物件閲覧</li>
  <li>お気に入り条件閲覧</li>
  <li>お気に入り条件マッチングメール送信</li>
  <li>新着物件お知らせ</li>
</ul>

<h3>使用技術</h3>

通信キヤリア間の通信料金の振り分けシステムの仕様技術。

オーソドックスで安定的なWeb技術を使った、開発効率の高いWebシステム開発。

<table>
  <tr>
    <th>Webサーバー</th><td>Apache</td>
  </tr>
  <tr>
    <th>データベース</th><td>MariaDB/MySQL</td>
  </tr>
  <tr>
    <th>サーバーOS</th><td>Linux/CentOS</td>
  </tr>
  <tr>
    <th>プログラミング言語</th><td>Perl</td>
  </tr>
  <tr>
    <th>Webフレームワーク</th><td>Mojolicious</td>
  </tr>
  <tr>
    <th>Webデザイン</th><td>HTML5,CSS3,JavaScript,jQuery</td>
  </tr>
  <tr>
    <th>ソースコード管理</th><td>Git/GitHub</td>
  </tr>
  <tr>
    <th>ジョブ管理</th><td>cron</td>
  </tr>
  <tr>
    <th>ホスティングサービス</th><td>さくらのクラウド</td>
  </tr>
</table>
</div>
