<h2>ご紹介料贈呈キャンペーン</h2>

ご紹介料贈呈キャンペーン実施中です。Webシステム開発で、お困りの方いらっしゃいましたら、ご紹介ください。

<h3>継続的な業務委託契約の場合</h3>

お客様をご紹介いただいた場合、業務委託契約が締結され、業務委託契約が継続している期間、業務委託契約の金額(税抜き)の10%を、ご紹介料として贈呈します。

(例)

月額30万円のシステム開発委託契約が1年継続する場合。

30万円×10%×12ヵ月=36万円

<h3>単発の商品の場合</h3>

単発の商品契約の場合は、単発の商品の金額(税抜き)の10%を、ご紹介料として贈呈します。

(例)

4チケット8万円のプログラミングレッスンをご紹介いただいた場合。

8万円×10% = 8,000円

<h3>支払方法はお客様から紹介者様への直接支払い</h3>

ご紹介料は、お客様から直接支払いを行っていただくので、安心です。

たとえば、30万円の場合は、紹介料が3万円ですので。(30万円 + 税 - 3万円)を、お客様が、木本システムに支払っていただき、3万円の紹介料を、紹介者様が、お客様から直接お受け取りください。
