<h2>Arduino・IoTにおけるWebサーバー側のPerlプログラムの作成サービス</h2>

Arduino・IoTにおけるWebサーバー側のPerlプログラムの作成サービスのご紹介です。

<h3>Arduino・IoTにおけるWebサーバー側のPerlプログラムの作成サービス</h3>

IoTをArduinoのHTTPモジュールを使って作成する場合に、Webサーバー側のプログラムの実装をPerlで行うサービスです。

Perlは、テキスト処理プログラミングが得意で、大量にテキストを扱うWebプログラミングも得意分野です。

IoT製品開発をArduinoで書き、Webサーバー側のプログラムをWebシステム開発を得意とするPerlで書くと、製品の開発効率が高まります。

<h3>ガスメータのIoT実装</h3>

一つの例としてガスメーターの情報をWebサーバーに蓄積する場合は、ガスメーター側の情報取得をArduinoを使って記述し、HTTPモジュールを使って、Webサーバーに情報を送信します。送信された情報は、Perlで記述されたWebシステムによって、データベースに蓄積され、JavaScriptのグラフモジュールを使って、ガス利用料などを可視化できます。

<h3>工場センサーのIoT実装</h3>

一つの例として工場センサーの情報をWebサーバーに蓄積する場合は、工場の機械の情報をセンサーとArduinoを使って記述し、HTTPモジュールを使って、Webサーバーに情報を送信します。送信された情報は、Perlで記述されたWebシステムによって、データベースに蓄積され、JavaScriptのグラフモジュールを使って、センサーから取得した情報を可視化できます。
