<h2>Webシステム開発サービス</h2>

Perl総合研究所のWebシステム開発のサービスのご紹介です。

<h3>基本月額</h3>

<div style="text-align:center;">
  <b style="color:red;font-size:28px;">基本月額 600,000円(税抜き)</b>
</div>

基本月額は、600,000円(税抜き)です。価格の交渉は可能です。開発スケジュールを伸ばしてもよいので、価格を下げてほしいなど。

<h3>サービスの詳細</h3>

<ul>
  <li><a href="/blog/20200826070021.html">準委任契約によるシステム開発委託契約</a></li>
  <li><a href="/blog/20200818065443.html">契約期間について</a></li>
  <li><a href="/blog/20200822070021.html">お支払日について</a></li>
  <li><a href="/blog/20200825070021.html">保守契約について</a></li>
  <li><a href="/blog/20200823070021.html">基本価格以外にかかる費用</a></li>
</ul>

<h3>キャンペーン</h3>

<ul>
  <li><a href="/blog/20200901081227.html">長期契約割引キャンペーン</a></li>
  <li><a href="/blog/20200831081227.html">契約自動更新割引キャンペーン</a></li>
  <li><a href="/blog/20200902072417.html">ご紹介料贈呈キャンペーン</a></li>
</ul>

