<h2>ツイートデータ分析サービス - 自社の商品やサービスのTwitterでのつぶやきが日別にわかる</h2>

ツイートデータ分析サービスは、商品やサービスを購入されたお客様が、Twitterでどのように評価しているかを日別に見れるサーバスです。

<h3>顧客の反応がわかりやすい</h3>

顧客が自社商品やサービスについて、Twitterの検索窓を使って、検索することもできます。これが一番簡単な方法です。

ただし、そのたびに検索する必要があること、不要な情報を除外できないこと、毎日、すぐに確認できないこと、日別で集計されていないことなどが、不満な点として出てくるかと思います。
ツイートデータ分析サービスでは、最新のTwitterでつぶやかれた情報をトップページで見れます。過去のつぶやきを、日別で見ることができます。

木本システムは、Perlツイートニュースというサイトを運営していますが、これをカスタマイズして、提供いたします。

<a href="http://perltweet.perlzemi.com/">Perlツイートニュース</a>

<h3>必要な情報</h3>

このサービスは、Twitter APIを使って、情報を検索するだけですので、お客様で必要となる情報はございません。

<h3>カスタマイズ</h3>

ご要望があれば、キーワードに対して、集計を行って、データ分析の機能や、ビジュアルで見やすいグラフ機能を追加することも可能です。

この場合は、受託開発になり、受託開発の料金が発生します。
