<h2>実現可能なWebデザインについて教えてください</h2>

実現可能なWebデザインについて教えてください。

<h3>実現できないWebデザイン</h3>

現在Webデザイナーの方がいないため、IllustratorやPhotoshopを使ったデザインはできません。

イラストの作成や写真の高度な加工はできません。

Perlクラブの事業規模がもう少し大きくなってからの課題です。

<h3>実現可能なWebデザイン</h3>

文字の大きさと配置を調整することは可能です。

パワーポイントを使った簡単なアイコン作成・撮影した写真の配置・写真の切り抜き加工などが可能です。

Webサイトのスマートフォン対応は可能です。

JavaScriptを使ったサイトの部品の動的な描画は可能です。

どの程度のデザイン能力があるかは、PerlクラブのWebサイトを見て、察してください。

<h3>Webデザイン研修</h3>

Perl開発者の研修用にWebデザイン入門というサイトを運営しています。このサイトは主に、Perl開発者がWeb開発の基礎であるHTMLとCSSを学ぶための入門サイトです。

<ul>
  <li><a href="https://htmlcss.perlclub.net/">Perl開発者のためのWebデザイン入門</a></li>
</ul>

現代的なHTML・CSSを活用しつつ、IE11にも対応したすっきりとしたHTML・CSSを書くことができるようになります。
