<h2>WebフレームワークMojoliciousを使ったWebシステム開発</h2>

木本システムは、リアルタイムWeb、クラウドサーバーのスケーリングに対応している、PerlのWebフレームワークMojoliciousを使ったWebシステム開発のプロフェッショナルです。

<h3>Mojoliciousの開発への貢献</h3>

代表の木本裕紀は、<a href="https://github.com/mojolicious/mojo">Mojoliciousフレームワーク</a>の中にあるWebの自動試験を行うモジュールTest::MojoライブラリをMojoliciousプロジェクトに提供しました。Mojoliciousのバグフィックスのコミットなど、Mojoliciousプロジェクトへの貢献があります。

<h3>Mojoliciousドキュメント翻訳</h3>

代表の木本裕紀は、<a href="https://mojodoc.perlzemi.com/">Mojoliciousドキュメント</a>の日本語への翻訳者です。Mojoliciousに関するすべてのドキュメントを、日本語に翻訳しました。Webフレームワークの動作について深く理解しています。Mojoliciousドキュメント日本語訳は、現在、代表の木本を含め二人の翻訳者によって管理されています。

<h3>Mojoliciousによる開発実績</h3>

Mojoliciousを使ったWebアプリケーション開発実績があります。以下のWebシステムは、Mojoliciousによって開発されています。

<ul>
  <li><a href="/achieve/estate_photo_schedule.html">物件写真管理撮影システム »</a></li>
  <li><a href="/achieve/estate_search.html">不動産物件検索システム »</a></li>
  <li><a href="/achieve/estate_customer.html">不動産顧客管理システム »</a></li>
</ul>
