<h2>CGIをリアルタイムWeb・クラウドサーバー対応のWebアプリケーションに書き換えるサービス</h2>

Perlで書かれたCGIを、リアルタイムWeb・クラウドサーバー対応のWebアプリケーションに書き換えるサービスです。

<h3>Perlで書かれたCGIの課題</h3>

Perlで書かれたCGIプログラムには、いくつかの課題があります。

CGIでは、ファイルアップロードとプログラムの確認という作業を繰り返すので、新規機能追加の頻度が高いプロジェクトでは、開発効率が低くなります。

CGIは、プロセスを毎回起動するので、アクセスが多いサイトでは、パフォーマンスがボトルネックになります。

CGIでは、push通知、リアルタイム更新、リアルタイムチャットのようなリアルタイムWebと呼ばれる分野の機能実装を行うことができません。

CGIでは、オンプレミス・VPS・クラウドサーバーなど、サーバー同士を疎結合にして、どのような環境でも動かせるWebサービスを作ることができません。

機能追加頻度の小さい現在動いているCGIプログラムは、そのまま使え、無理に改修する必要はないと思います。上記のような課題がある場合に、現代的なWebアプリケーションに書き換えることは、プログラムを改良する一つの選択になります。

継続的にアプリケーションをメンテナンスできる状態になり、機能追加を依頼したときの開発効率が上昇します。

<h3>実際の書き換え作業</h3>

Webインターフェースの部分だけ書き換えます。業務用に開発されたPerlモジュールについては、書き換える必要はありません。

<h4>Linux仮想環境で動くように設計</h4>

Linux仮想環境で動くように、Webシステム開発環境構築を行います。現在は、Linuxディストリビューションである、<a href="https://ubuntu.perlzemi.com/">UbuntuにおけるWebシステム開発環境構築</a>のみを行っています。

<h4>HTMLをMojoliciousのテンプレートを使って書き換え</h4>

HTMLをMojoliciousのテンプレートを使って書き換える作業を行います。ひとつのCGIに詰め込まれていたHTMLは、ページごとに分割され、管理しやすくなります。

<h3>CGIの書き換えの難易度</h3>

CGIの書き換えの難易度は、それほど高くありません。CGIで書かれた、Web層のみの動作を保証できればよいからです。

ただし一つ問題になるのは、古いCGIスクリプトでは、まず<a href="/blog/20200801073906.html">文字コードのUTF-8対応</a>が行われていないということです。UTF-8対応されていないPerlプログラムをUTF-8対応する作業の難易度は高いです。

ですので、総合すると、CGIの書き換えは、難易度が高い作業であり、データベースの停止を伴う作業であるということです。
