<h2>基本月額30万円のクラウドサーバー対応のWebシステム開発</h2>

基本価格月額30万円のクラウドサーバー対応のWebシステム開発のサービスのご紹介です。

<h3>基本価格</h3>

<div style="text-align:center;">
  <b style="color:red;font-size:28px;">基本月額 300,000円(税抜き)</b>
</div>

基本価格は、月額300,000円(税抜き)です。

オーダーメイドのクラウドサーバー対応のWebシステムを月額300,000円の予算で作成できます。

<h3>割引キャンペーン実施中</h3>

キャンペーンのご紹介です。

<h4>1. 長期契約割引キャンペーン</h4>

長期契約割引キャンペーン実施中です。

3か月以上の長期契約で、1%割引。

6か月以上の長期契約で、2%割引。

1年以上の長期契約で、5%割引。

<h4>2. 自動延長契約割引キャンペーン</h4>

契約期間の自動延長契約で、5%割引キャンペーン実施中。

長期契約割引と自動延長契約割引のキャンペーンは、合わせて、ご利用できます。

<h3>サービスの詳細</h3>

<table>
  <tr><th>契約形態</th><td><a href="/blog/20200826070021.html">準委任契約によるシステム開発委託契約</a></td></tr>
  <tr><th>契約期間</th><td><a href="/blog/20200818065443.html">契約期間について</a></td></tr>
  <tr><th>お支払日</th><td><a href="/blog/20200822070021.html">お支払日について</a></td></tr>
  <tr><th>保守契約</th><td><a href="/blog/20200825070021.html">保守契約について</a></td></tr>
  <tr><th>基本価格以外の費用</th><td><a href="/blog/20200823070021.html">基本価格以外にかかる費用</a></td></tr>
</table>
