<!-- bottom -->
  <div class="index-mitumori">
    <div class="index-mitumori-button">
      <a href="/mail.html">Perl システム開発の<br>お問い合わせはこちら</a>
    </div>

    <div class="index-mitumori-area">
      システム開発の対応エリアは、東京都23区・神奈川県横浜市。<br>この他の全国地域でも、リモートワークによるシステム開発の相談可。
    </div>

    <div class="index-mitumori-tel-message">
      お問い合わせは、お電話でもOK。
    </div>

    <div class="index-mitumori-tel">
      <div class="index-mitumori-tel-number">
        Tel. <a>03-6435-7439</a>
      </div>
    </div>

    <div class="index-mitumori-jikan">
      営業時間10:00～19:00（月～金営業、祝日・年末年始休み）
    </div>
    
  </div>
