<!-- bottom -->
<div class="inside">
  <div class="index-mitumori">
    <div class="index-mitumori-button">
      <a href="/mail.html">お問い合わせはこちら</a>
    </div>

    <div class="index-mitumori-area">
      ビジネスを通じて木本システムがお役立てることがありましたら、お問い合わせフォームよりご連絡ください。<br>どんな提案でも、いったんは聞いてみます。
    </div>

    <div class="index-mitumori-tel">
      <div class="index-mitumori-tel-number">
        Tel. <a>03-6435-7439</a>
      </div>
    </div>

    <div class="index-mitumori-jikan">
      営業時間10:00～19:00（月～金営業、祝日・年末年始休み）
    </div>
  </div>
  <div style="text-align:center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/opN0aun2OVA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
