<!-- footer -->

  <div class="footer_content">
    <ul>
      <li><a href="/system-devel.html">Webシステム開発</a></li>
      <li><a href="/achieve.html">開発実績</a></li>
      <li><a href="/corporate.html">会社情報</a></li>
      <li><a href="/message.html">代表挨拶</a></li>
      <li><a href="/area.html">対応エリア</a></li>
      <li><a href="/recruit.html">採用情報</a></li>
      <li><a href="/learning.html">研修教材</a></li>
      <li><a href="/news.html">ニュース</a></li>
      <li><a href="/list.html">新着記事</a></li>
      <li><a href="/programming-lesson.html">プログラミングレッスン</a></li>
    </ul>
  </div>

<div style="text-align:right;margin-right:50px;">
  <a style="margin-right:30px" href="/mail.html">問い合わせ © Perl総合研究所</a>
</div>

