<!-- footer -->

  <div class="footer_content">
    <ul>
      <li><a href="/example.html">開発事例</a></li>
      <li><a href="/achieve.html">開発実績</a></li>
      <li><a href="/area.html">対応エリア</a></li>
      <li><a href="https://perlclub.net/">プログラミングスクール</a></li>
      <li><a href="https://perlclub.net/corporate">運営会社</a></li>
      <li><a href="/mail.html">問い合わせ</a></li>
    </ul>
    <div style="text-align:center;margin-top:10px;">
      <a style="text-decoration:underline" href="http://perlclub.net">Copyright © Perl総合研究所</a>
    </div>
  </div>
