<script>
$(function() {
  $(window).on('resize', function () {
    if ($(window).width() > 960) {
      $('.header_menu').show();
      $('.header_menu').css('display', 'flex');
    }
    else if ($(window).width() <= 960) {
      $('.header_menu').hide();
    }
  });
});
</script>

<!-- header -->
<div class="header_content">
  <div class="header_site_title">
    <a href="/"><img src="/images/perlri-logo.png" alt="Webシステム開発サービス - Perl総合研究所"></a>
  </div>
  <div class="header_company_name">
    <h1>Perl総合研究所の<br>Webシステム開発サービス</h1>
  </div>
  <div class="header_menu_button" onclick="$('.header_menu').toggle()">
    <img src="/images/header/menu-icon.png">
  </div>
  <ul class="header_menu">
    <li><a href="/achieve.html">開発実績</a></li>
    <li><a href="/technology.html">技術情報</a></li>
    <li><a href="/area.html">対応エリア</a></li>
    <li><a href="http://www.perlri.com/">Perl総研</a></li>
    <li><a href="/mail.html">問い合わせ</a></li>
  </ul>
</div>
