<script>
$(function() {
  $(window).on('resize', function () {
    if ($(window).width() > 960) {
      $('.header_menu').show();
      $('.header_menu').css('display', 'flex');
    }
    else if ($(window).width() <= 960) {
      $('.header_menu').hide();
    }
  });
});
</script>

<!-- header -->
<div class="header_title">
  <div class="site_title">
    <a href="/"><img src="/images/kimoto-system-logo.png"></a>
  </div>
  <div class="header_menu_button" onclick="$('.header_menu').toggle()">
    <img src="/images/header/menu-icon.png">
  </div>
  <ul class="header_menu">
    <li><a href="/services.html"><img src="/images/header/corporate-icon.png">サービス</a></li>
    <li><a href="/corporate.html"><img src="/images/header/corporate-icon.png">会社情報</a></li>
    <li><a href="/learning.html"><img src="/images/header/corporate-icon.png">学習教材</a></li>
    <li><a href="mailto:support@kimoto-system.co.jp"><img src="/images/header/corporate-icon.png">お問合せ</a></li>
  </ul>
</div>
