<div class="achieve">
  <h2>開発実績</h2>
  <div class="achieve_message">
    木本システム株式会社の開発実績のご紹介<br>
  </div>

  <h3>通信キャリアシステム開発</h3>
  
  <ul>
    <li><a href="javascript:void">通信キヤリア間の通信料金の振り分けシステムの開発</a></li>
  </ul>

  <h3>不動産システム開発</h3>
  
  <ul>
    <li><a href="javascript:void">物件撮影スケジュール管理システムの開発</a></li>
    <li><a href="javascript:void">物件検索システムの開発</a></li>
    <li><a href="javascript:void">物件購入希望者の顧客管理システムの開発</a></li>
  </ul>

  <h3>金融システム開発</h3>
  
  <ul>
    <li><a href="javascript:void">振込システムのパフォーマンス解析・調査</a></li>
  </ul>

<!--
  <h3>専門商社システム開発</h3>
-->

  <div style="text-align:center;margin-top:80px;">(※ 開発実績には、木本システム株式会社の代表が個人でシステム開発をしていた時代を含んでいます)</div>

<div>
