<style>
  .bottom {
    display:none;
  }
</style>

<div class="achieve">
  <div class="page_top_basic">
    <h2>開発実績</h2>
    <div class="inside">
      <div class="description">
        木本システム株式会社のシステム開発実績のご紹介<br>
      </div>
    </div>
  </div>

  <h3>商社システム</h3>
  
  <div class="inside">
    <ul>
      <li><a href="/achieve/quote_trading_company.html">専門商社の見積書作成システム »</a></li>
    </ul>
  </div>

  <h3>不動産システム</h3>
  
  <div class="inside">
    <ul>
      <li><a href="/achieve/estate_photo_schedule.html">物件撮影スケジュール管理システム »</a></li>
      <li><a href="/achieve/estate_search.html">不動産物件検索システム »</a></li>
      <li><a href="/achieve/estate_customer.html">不動産顧客管理システム »</a></li>
    </ul>
  </div>

  <h3>金融システム</h3>
  
  <div class="inside">
    <ul>
      <li><a href="/achieve/bank_transfer_performance.html">振込システムのパフォーマンス解析・調査 »</a></li>
    </ul>
  </div>

  <h3>通信システム</h3>
  
  <div class="inside">
    <ul>
      <li><a href="/achieve/mobile_charge.html">通信キヤリア間の通信料金の振り分けシステム »</a></li>
    </ul>
  </div>

  <h3>開発事例</h3>
  
  <div class="inside">
    <ul>
      <li><a href="/blog/20200904074613.html">デジタルコンテンツ販売用のECサイトの開発 »</a></li>
    </ul>
  </div>
  
  <div class="inside">
    <div style="text-align:center;margin-top:80px;">※ 開発実績には、木本システム株式会社の代表木本が個人でシステム開発を受託または雇用されて行っていた時代を含んでいます。<br>開発事例はサンプルであって開発実績ではないのでご注意ください。</div>
  </div>
<div>
