<style>
  .bottom {
    display:none;
  }
</style>

<div class="achieve">
  <div class="page_top_basic">
    <h2>開発実績</h2>
    <div class="description">
      木本システム株式会社のシステム開発を中心とした開発実績のご紹介<br>
    </div>
  </div>

  <h3>不動産システム開発</h3>
  
  <ul class="inside">
    <li><a href="/achieve/estate_photo_schedule.html">物件撮影スケジュール管理システム</a></li>
    <li><a href="/achieve/estate_search.html">不動産物件検索システム</a></li>
    <li><a href="/achieve/estate_customer.html">不動産顧客管理システム</a></li>
  </ul>

  <h3>金融システム開発</h3>
  
  <ul class="inside">
    <li><a href="/achieve/bank_transfer_performance.html">振込システムのパフォーマンス解析・調査</a></li>
  </ul>

  <h3>通信キャリアシステム開発</h3>
  
  <ul class="inside">
    <li><a href="/achieve/mobile_charge.html">通信キヤリア間の通信料金の振り分けシステム</a></li>
  </ul>

  <div style="text-align:center;margin-top:80px;">(※ 開発実績には、木本システム株式会社の代表が個人でシステム開発をしていた時代を含んでいます)</div>
<div>
