<style>
  .bottom {
    display:none;
  }
</style>

<div class="recruit">
  <div class="page_top_basic">
    <h2>対応エリア</h2>

    <div class="recruit_message">
      システム開発の対応可能エリア
    </div>
  </div>
  
  <div id="web_engeneer" style="height:1px"></div>
  
  <h3>東京都23区</h3>

  <div class="recruit_description">
    東京都23区のシステム開発の対応可能エリア
  </div>

  <table>
    <tr>
      <th>
        東京都23区全域
      </th>
      <td>
        足立区、墨田区、荒川区、世田谷区、板橋区、台東区、江戸川区、千代田区、大田区、中央区、葛飾区、豊島区、北区、中野区、江東区、練馬区、品川区、文京区、渋谷区、港区、新宿区、目黒区、杉並区
      </td>
    </tr>
  </table>

  <div id="web_assistant" style="height:1px"></div>
  <h3>神奈川県横浜市</h3>

  <div class="recruit_description">
    神奈川県横浜市のシステム開発の対応可能エリア
  </div>
  
  <table>
    <tr>
      <th>
        神奈川県横浜市全域
      </th>
      <td>
        青葉区、旭区、泉区、磯子区、神奈川区、金沢区、港南区、港北区、栄区、瀬谷区、都筑区、鶴見区、戸塚区、中区、西区、保土ケ谷区、緑区、南区
      </td>
    </tr>
  </table>

  <div id="jimu" style="height:1px"></div>
  <h3>その他の全国地域</h3>

  <div class="recruit_description">
    その他の全国地域では、リモートワークでのシステム開発の相談可。
  </div>

  <table>
    <tr>
      <th>
        その他の全国地域
      </th>
      <td>
        リモートワークでの相談可
      </td>
    </tr>
  </table>
</div>
