<h2>
  <div>会社概要・アクセス</div>
  <div>COMPANY</div>
</h2>

<h3>会社概要・PROFILE</h3>

<table>
  <tr>
    <th>商号</th><td>木本システム株式会社（英語名Kimoto System Co.,Ltd.）</td>
  </tr>
  <tr>
    <th>事業内容</th>
    <td>
      ・Webシステム・業務システムの受託開発<br>
      ・Webサイトデザインからサーバー運用までのトータルサポート<br>
      ・社内エンジニア向けシステム開発・システム運用の援助<br>
    <td>
  </tr>
  <tr>
    <th>設立</th><td>令和2年1月14日</td>
  </tr>
  <tr>
    <th>資本金</th><td>1,000,000円</td>
  </tr>
  <tr>
  <tr>
    <th>本社</th>
    <td>
東京都港区芝大門一丁目２番２３号 旭ビル３F
TEL (03) 6435-7439（代表）MAP
</td>
  </tr>
  <tr>
    <th>代表者</th><td>代表取締役社長木本裕紀</td>
  </tr>
  <tr>
    <th>社員数</th><td>2名(2020年1月末現在)</td>
  </tr>
</table>


<h3>会社の沿革</h3>

<table>
  <tr>
    <th>2020年 （令和2年）</th><td>木本裕紀が、東京都港区にて、業務システムの受託開発を開始。</td>
  </tr>
</table>

<h3>事業所案内</h3>

<table>
  <tr>
    <th>本社</th><td>〒601-8501

東京都港区芝大門一丁目２番２３号 旭ビル３F
TEL (03) 6435-7439（代表）MAP
</td>
  </tr>
</table>

