<h2>会社情報 Corporate Information</h2>

会社概要

木本システム株式会社
（英語名　Kimoto System Co.,Ltd.）

事業内容

１．プログラミング学習教材の企画・製作
２．プログラミング教室の企画・運営
３．IT 技術者向けイベントの企画・運営
４．スタートアップ支援
５．社内エンジニアの育成サポート
６．データベース設計・開発・運用
７．Excel データのデータベース化支援
８．Web サイトの企画・製作・運用
９．Web システムの企画・設計・開発・運用
１０．クライアントアプリケーションの企画・設計・開発・運用
１１．ハードウェアデバイスと連携するためのドライバソフトウェアの開発
１２．各種データのコンバーター開発、データ分析とレポートの作成
１３．プログラミング言語、ライブラリ、CMS システムの研究・開発
１４．Linux/Unix・Perl・Git などを使った開発運用支援
１５．クラウドサーバーへの移行・設定・運用支援
１６．社内ネットワークシステムの構築・サポート
１７．システム開発・運用に関わるコンサルティング業務
１８．前各号に附帯又は関連する一切の業務

設　立

令和2年1月14日

資本金

1,000,000円

本　社

MAP

東京都港区芝大門一丁目２番２３号 旭ビル３F
TEL (03) 6435-7439（代表）

代表者

代表取締役社長　木本　裕紀

<!--
主な関係会社
-->

社員数

2名(2020年1月末現在)

役員一覧

取締役

代表取締役社長　木本　裕紀

会社の沿革

2020年 （令和2年）

木本裕紀が、東京都港区にて、業務システムの受託開発を開始。

事業所案内

〒601-8501
東京都港区芝大門一丁目２番２３号 旭ビル３F
TEL (03) 6435-7439（代表）
