<style>
  .bottom {
    display:none;
  }
</style>

<div class="achieve">
  <div class="page_top_basic">
    <h2>開発事例</h2>
    <div class="inside">
      <div class="description">
        開発事例のご紹介<br>
      </div>
    </div>
  </div>

  <h3>開発事例</h3>
  
  <div class="inside">
    <ul>
      <li><a href="/blog/20200904074613.html">デジタルコンテンツ販売用のECサイトの開発</a></li>
      <li><a href="/blog/20200915161108.html">顧客管理システムの開発</a></li>
    </ul>
  </div>

  <h3>データ分析</h3>
  
  <div class="inside">
    <ul>
      <li><a href="/blog/20200805071239.html">ツイートデータ分析サービス - 自社の商品やサービスのTwitterでのつぶやきが日別にわかる</a></li>
    </ul>
  </div>
  
  <h3>スマホアプリのバックエンド開発</h3>
  <div class="inside">
    <ul>
      <li><a href="/blog/20200819065443.html">iphone・ipad・android スマホアプリのバックエンド開発</a></li>
    </ul>
  </div>
  
  <h3>IoT・組み込みシステム補助</h3>
  
  <div class="inside">
    <ul>
      <li><a href="/blog/20200824161135.html">Arduino・IoTにおけるWebサーバー側のPerlプログラムの作成サービス</a></li>
      <li><a href="/blog/20200821063937.html">組み込みC言語における補助Perlプログラムの作成</a></li>
    </ul>
  </div>

  <div class="inside">
    <div style="text-align:center;margin-top:80px;">※ 開発実績は、個人事業主としてシステム開発を受託または雇用されて行っていた時代を含む。
  </div>
<div>
