<style>
  .bottom {
    display:none;
  }
  ul {
    text-align:center;
  }
  li {
    line-height:1.8;
  }
</style>

<div>
  <div class="page_top_basic">
    <h2>開発事例</h2>
    <div class="inside">
      <div class="description">
        どんなWebシステム開発ができるの? 開発事例のご紹介<br>
      </div>
    </div>
  </div>

  <h3>ECサイト</h3>
  
  <div class="inside">
    <ul>
      <li>商品販売 ・商品検索・商品登録・商品情報変更</li>
      <li>会員登録・ログイン機能</li>
      <li>顧客管理 ・顧客検索・顧客登録・顧客情報更新</li>
      <li>LINEのように顧客とのメッセージのやり取り</li>
      <li>キャンペーン・新着情報のメール送信</a></li>
      <li>お勧め商品のメール送信</a></li>
      <li>動画・画像のデジタルコンテンツ販売</a></li>
    </ul>
  </div>

  <h3>スマホアプリのサーバー側実装</h3>
  <div class="inside">
    <ul>
      <li>iphone・ipad・androidアプリバックエンド</li>
      <li>商品購入情報バックエンド</li>
      <li>決済システムバックエンド</li>
      <li>クーポン発行バックエンド</li>
      <li>店舗内情報提供バックエンド</li>
      <li>ソーシャルゲームバックエンド</li>
      <li>JSON・XML出力</li>
      <li>push通知</li>
    </ul>
  </div>
<h2>ツイートデータ分析サービス - 自社の商品やサービスのTwitterでのつぶやきが日別にわかる</h2>

ツイートデータ分析サービスは、商品やサービスを購入されたお客様が、Twitterでどのように評価しているかを日別に見れるサーバスです。

<h3>顧客の反応がわかりやすい</h3>

顧客が自社商品やサービスについて、Twitterの検索窓を使って、検索することもできます。これが一番簡単な方法です。

ただし、そのたびに検索する必要があること、不要な情報を除外できないこと、毎日、すぐに確認できないこと、日別で集計されていないことなどが、不満な点として出てくるかと思います。
ツイートデータ分析サービスでは、最新のTwitterでつぶやかれた情報をトップページで見れます。過去のつぶやきを、日別で見ることができます。

木本システムは、Perlツイートニュースというサイトを運営していますが、これをカスタマイズして、提供いたします。

<a href="http://perltweet.perlzemi.com/">Perlツイートニュース</a>

<h3>必要な情報</h3>

このサービスは、Twitter APIを使って、情報を検索するだけですので、お客様で必要となる情報はございません。

<h3>カスタマイズ</h3>

ご要望があれば、キーワードに対して、集計を行って、データ分析の機能や、ビジュアルで見やすいグラフ機能を追加することも可能です。

この場合は、受託開発になり、受託開発の料金が発生します。


  
  <h3>IoT・組み込みシステム</h3>
  
  <div class="inside">
    <ul>
      <li><a href="/blog/20200824161135.html">Arduino・IoTにおけるWebサーバー側実装</a></li>
      <li><a href="/blog/20200821063937.html">組み込みC言語における補助プログラム</a></li>
    </ul>
  </div>

<h2>組み込みC言語における補助Perlプログラムの作成サービス</h2>

組み込みC言語における補助Perlプログラムの作成サービスのご紹介です。

<h3>組み込みC言語の補助プログラムとしてのPerl</h3>

C言語は、プログラムサイズが小さく、メモリ効率が良く、指定したメモリ位置にアクセスできる機能を持ち、組み込み系プログラムに適しています。

Perlは、テキスト処理プログラミングが得意で、大量にテキストを扱うWebプログラミングも得意分野です。

製品開発をC言語で書き、テキストを扱う補助的なプログラムをPerlで書いて、うまく組み合わせると、生産効率の良いプロジェクトになります。

木本システムでは、補助的なPerlプログラムを作成するサービスを提供しています。

<h3>テキストデータフォーマットの変換にPerlを使う</h3>

一つの例として、入力データとして、テキストデータが与えられた場合はPerlで、C言語が利用しやすい形式に、変換できます。テキストデータはありふれたデータですが、C言語がそのまま扱いやすいというわけではありません。このような場合にPerlのフォーマット変換プログラムがあると便利です。

<h3>Webサーバー側の実装としてPerlを使う</h3>

組み込みC言語で、HTTPライブラリを使って、サーバー側とデータ交換をする必要がある場合に、サーバー側の実装をPerlで作成するということもできます。Web開発は簡単そうに思えて、技術としての覚える量が膨大で、ひとつの機能に対して、プログラムの実装量が多いので、効率的にWebプログラムを組みたいという場合は、ご相談ください。

<h2>Arduino・IoTにおけるWebサーバー側のPerlプログラムの作成サービス</h2>

Arduino・IoTにおけるWebサーバー側のPerlプログラムの作成サービスのご紹介です。

<h3>Arduino・IoTにおけるWebサーバー側のPerlプログラムの作成サービス</h3>

IoTをArduinoのHTTPモジュールを使って作成する場合に、Webサーバー側のプログラムの実装をPerlで行うサービスです。

Perlは、テキスト処理プログラミングが得意で、大量にテキストを扱うWebプログラミングも得意分野です。

IoT製品開発をArduinoで書き、Webサーバー側のプログラムをWebシステム開発を得意とするPerlで書くと、製品の開発効率が高まります。

<h3>ガスメータのIoT実装</h3>

一つの例としてガスメーターの情報をWebサーバーに蓄積する場合は、ガスメーター側の情報取得をArduinoを使って記述し、HTTPモジュールを使って、Webサーバーに情報を送信します。送信された情報は、Perlで記述されたWebシステムによって、データベースに蓄積され、JavaScriptのグラフモジュールを使って、ガス利用料などを可視化できます。

<h3>工場センサーのIoT実装</h3>

一つの例として工場センサーの情報をWebサーバーに蓄積する場合は、工場の機械の情報をセンサーとArduinoを使って記述し、HTTPモジュールを使って、Webサーバーに情報を送信します。送信された情報は、Perlで記述されたWebシステムによって、データベースに蓄積され、JavaScriptのグラフモジュールを使って、センサーから取得した情報を可視化できます。

<div>
