<div class="faq">
  <h2>よくある質問</h2>
  <div class="achieve_message">
    Webシステム開発のよくある質問への回答
  </div>
  
  <h3>サービスに関するご質問</h3>
  
  <div class="faq_item">
    <div class="faq_question">
      <div class="faq_question_header"><b>Q</b></div>
      <div class="faq_question_content">常駐型のWebシステム開発は可能ですか?</div>
    </div>
    <div class="faq_answer">
      <div class="faq_answer_header"><b>A</b></div>
      <div class="faq_answer_content">東京都23区内と神奈川県横浜市で対応可能です。木本システムの本社のある東京都港区の場合は、価格の５％割引キャンペーン。</div>
    </div>
  </div>

  <div class="faq_item">
    <div class="faq_question">
      <div class="faq_question_header"><b>Q</b></div>
      <div class="faq_question_content">リモートワークによるWebシステム開発は可能ですか?</div>
    </div>
    <div class="faq_answer">
      <div class="faq_answer_header"><b>A</b></div>
      <div class="faq_answer_content">はい、全国で対応可能です。skypeやlineなどのビデオを使っての対面での見積もりが可能です。</div>
    </div>
  </div>

  <div class="faq_item">
    <div class="faq_question">
      <div class="faq_question_header"><b>Q</b></div>
      <div class="faq_question_content">開発後の保守費用について教えてください。</div>
    </div>
    <div class="faq_answer">
      <div class="faq_answer_header"><b>A</b></div>
      <div class="faq_answer_content">開発後の保守費用は、Webシステム開発の価格と同じ価格になります。Perl Webシステム開発スタートアップパッケージの場合は、基本価格 月額29万8000円。Perl Webシステム開発マネージドパッケージの場合は、基本価格 月額59万8000円です。</div>
    </div>
  </div>
  
  <h3>Webシステム開発の技術に関するご質問</h3>

  <div class="faq_item">
    <div class="faq_question">
      <div class="faq_question_header"><b>Q</b></div>
      <div class="faq_question_content">Webシステム開発にCGIを使いますか?</div>
    </div>
    <div class="faq_answer">
      <div class="faq_answer_header"><b>A</b></div>
      <div class="faq_answer_content">木本システムのPerl Webシステム開発は、クラウドに対応可能で、最大の実行速度を実現できる、リバースプロキシという仕組みを使って行います。CGIを使ったWebシステムから、リバースプロキシを使たクラウド対応のWebシステムへの移行の案件は、対応可能です。</div>
    </div>
  </div>

  <div class="faq_item">
    <div class="faq_question">
      <div class="faq_question_header"><b>Q</b></div>
      <div class="faq_question_content">Webフレームワークは何を使いますか?</div>
    </div>
    <div class="faq_answer">
      <div class="faq_answer_header"><b>A</b></div>
      <div class="faq_answer_content">新規のWebシステム開発では、Webフレームワークとして開発効率の高いMojoliciousというライブラリを使用します。既存案件の場合は、どのフレームワークでも対応可能です。</div>
    </div>
  </div>

  <div class="faq_item">
    <div class="faq_question">
      <div class="faq_question_header"><b>Q</b></div>
      <div class="faq_question_content">O/Rマッパーには何を使いますか?</div>
    </div>
    <div class="faq_answer">
      <div class="faq_answer_header"><b>A</b></div>
      <div class="faq_answer_content">新規のWebシステム開発では、O/Rマッパーとして、開発効率の高いDBIx::Customというライブラリを使用します。既存案件の場合は、どのO/Rマッパーでも対応可能です。</div>
    </div>
  </div>
<div>
