<div class="achieve">
  <h2>よくある質問</h2>
  <div class="achieve_message">
    Webシステム開発のよくある質問への回答
  </div>

  <div style="text-align:center">
    <h3>常駐型のWebシステム開発は可能ですか?</h3>
    <div>
      東京都23区内と神奈川県横浜市で対応可能です。<br>木本システムの本社のある東京都港区の場合は、価格の５％割引キャンペーン。
    </div>
    <h3>リモートワークによるWebシステム開発は可能ですか?</h3>
    <div>
      はい、全国で対応可能です。skypeやlineなどのビデオを使っての対面での見積もりが可能です。
    </div>
    <h3>開発後の保守費用について教えてください。</h3>
    <div>
      開発後の保守費用は、Webシステム開発の価格と同じ価格になります。Perl Webシステム開発スタートアップパッケージの場合は、基本価格 月額29万8000円。Perl Webシステム開発マネージドパッケージの場合は、基本価格 月額59万8000円です。
    </div>    
    <h3>Webシステム開発にCGIを使いますか?</h3>
    <div>
      木本システムのPerl Webシステム開発は、クラウドに対応可能で、最大の実行速度を実現できる、リバースプロキシという仕組みを使って行います。<br>CGIを使ったWebシステムから、リバースプロキシを使たクラウド対応のWebシステムへの移行の案件は、対応可能です。
    </div>
    <h3>Webフレームワークは何を使いますか?</h3>
    <div>
      新規のWebシステム開発では、Webフレームワークとして開発効率の高いMojoliciousを使用します。<br>既存案件の場合は、どのフレームワークでも対応可能です。
    </div>      
    <h3>O/Rマッパーには何を使いますか?</h3>
    <div>
      新規のWebシステム開発では、O/Rマッパーとして、開発効率の高いDBIx::Customを使用します。<br>既存案件の場合は、どのO/Rマッパーでも対応可能です。
    </div>      
  </div>
<div>
