<!--
<p>Perl総合研究所のWebシステム開発サービス</p>
-->

<div class="index">
  <div class="page_top_left_fix_image">
    <div class="inside">
      <div class="left">
      </div>
      <div class="right">
        <h2>
          Perl総合研究所のWebシステム開発サービス
        </h2>
        <div style="text-align:center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/opN0aun2OVA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>
