<!--
<p>Perl総合研究所のWebシステム開発サービス</p>
-->

<div class="index">
  <div class="page_top_left_fix_image">
    <div class="inside">
      <div class="left">
      </div>
      <div class="right">
        <h2>
          Perl総合研究所のWebシステム開発サービス
        </h2>
        <div class="youtube_block" style="margin:30px auto">
          <div class="youtube">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-eVfQ6stq5Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div style="text-align:center">
          ※ 価格は2021年現在も同じです
        </div>
      </div>
    </div>
  </div>
<style>
  .bottom {
    display:none;
  }
</style>

<div class="index">

  <div class="inside">
    <h3>
      開発事例のご紹介
    </h3>
    <div>
      <ul>
        <li><a href="/example.html">開発事例のご紹介</a></li>
      </ul>
    </div>
  </div>

  <div class="inside">
    <h3>
      開発実績
    </h3>
    <div>
      <ul>
        <li><a href="/achieve.html">開発実績</a></li>
      </ul>
    </div>
  </div>

  <div class="inside">
    <div>
      <h3>
        技術情報
      </h3>
      <ul>
        <li>
          <a href="/technology.html">技術情報</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="inside">
    <h3>
      対応エリア
    </h3>
    <div>
      <ul>
        <li><a href="/area.html">対応エリア</a></li>
      </ul>
    </div>
  </div>

  <h3>Webシステム受託開発の価格</h3>
  
  <div class="inside">
    <div style="text-align:center;">
      <b style="color:red;font-size:28px;">基本月額 598,000円(税抜き)</b>
    </div>
  </div>

  <h3>Webシステム内製化サポートの価格</h3>
  
  <div class="inside">
    <div style="text-align:center;">
      <b style="color:red;font-size:28px;">基本月額 98,000円(税抜き)</b>
    </div>
  </div>

  <div class="inside">
    <h3>
      ご紹介料プレゼントキャンペーン
    </h3>
    <div style="text-align:center">
      ご紹介者の方に契約金額の10%をプレゼントするキャンペーン実施中<br>
      
      (例)月額60万円のシステム開発委託契約が1年継続した場合<br>60万円×10%×12ヵ月=72万円を合計でプレゼント<br>
      個人的な紹介でもOK
    </div>
  </div>
<div>
</div>
