<!--
<p>Perlを中心とするオープンソース技術をビジネスで活用するための調査と研究を行っています。</p>
-->

<div class="index">

  
  <div class="page_top_left_fix_image">
    <div class="inside">
      <div class="left">
        <img src="/images/index/kimoto-system-image.jpg">
      </div>
      <div class="right">
        <h2>
          Perlビジネス活用のための<br>調査研究
        </h2>
        <div class="description">
          Perlを中心とするオープンソース技術を<br>ビジネスで活用するための調査と研究を行っています。
        </div>
      </div>
    </div>
  </div>

  <div class="inside">
    <h3>
      年収100万円アップを目指すITエンジニアのための学習コンテンツ
    </h3>
    <div class="card_column3_basic">
      <ul>
        <li><a href="https://tutorial.perlzemi.com/"><b>Perlプログラミング入門「Perlゼミ」</b><br>Perlプログラミングの基礎を学んで実力アップ。<br>基礎力のあるエンジニアは課題解決能力が高いのでITエンジニアの現場で重宝されます。</a></li>
        <li><a href="https://www.ubuntu-perl-web.com/"><b>Ubuntu+Perl Webシステム開発環境構築</b><br>自力でサーバー構築できる力を養う。システム開発環境構築を0から独力で構築できるITエンジニアは現場で必要とされています。</a></li>
      </ul>
    </div>
  </div>

  <div class="inside">
    <div class="index_news">
      <h3>
        ニュース
      </h3>
      <div style="text-align:center;margin-top:10px;">
        プレリリースや会社情報などのニュース。
      </div>
      <table>
        <tr>
          <th>2020年10月06日</th><td>サイトリニューアル。Perlをビジネス活用するための調査と研究を行う会社になりました</td>
        </tr>
        <tr>
          <th>2020年9月29日</th><td><a href="/blog/20200929081828.html">Perlのエンジニアを探すのが難しいと思っておられる方。Perlシステム開発をアウトソーシングしてみませんか?</a>を追加</td>
        </tr>
        <tr>
          <th>2020年9月15日</th><td><a href="/blog/20200915161108.html">顧客管理システムの開発の開発事例</a>を追加</td>
        </tr>
        <tr>
          <th>2020年9月4日</th><td><a href="/blog/20200904074613.html">デジタルコンテンツ販売用のECサイトの開発の開発事例</a>を追加</td>
        </tr>
        <tr>
          <th></th><td><a href="/news.html">ニュース一覧を見る »</td>
        </tr>
      </table>
    </div>
  </div>
</div>
