<div class="learning">
  <h2>
    <div>学習教材</div>
  </h2>

  <div class="learning_message">
    デザイナー・エンジニアの教育を目的とした<br>オリジナルの学習教材を無償で公開しています。
  </div>
  
  <table>
    <tr>
      <td><a href="https://webdesign.perlzemi.com"><img src="/images/learning/webdesign-icon.png">Webデザイン 教材 - Webデザイン入門</a></li> 
      <td><a href="https://tutorial.perlzemi.com/">プログラミング 教材 - Perl入門ゼミ</a></li>
    </tr>
    <tr>
      <td><a href="https://linux.perlzemi.com">サーバー管理 教材 - Linuxサーバー管理入門</a></li>
      <td><a href="https://centos.perlzemi.com">サーバー管理 教材 - CentOS入門</a></li>
    </tr>
    <tr>
      <td><a href="https://web.perlzemi.com">Webシステム開発 教材 - Mojoliciousスタートアップ</a></li>
      <td><a href="https://mariadb.perlzemi.com">データベース 教材 - MariaDB入門</a></li>
    </tr>
    <tr>
      <td><a href="https://dbix-custom.perlzemi.com">データベース 教材 - DBIx::Custom</a></li>
      <td><a href="https://dbix-custom.perlzemi.com">動画教材 - Perlゼミちゃんねる</a></li>
    </tr>
  </table>
<div>
