<style>
  .bottom {
    display:none;
  }
</style>

<div class="learning">
  <div class="page_top_basic">
    <h2>研修教材</h2>
  </div>
  
  <table>
    <tr>
      <td><a href="https://www.youtube.com/channel/UCbeAS6ZXpSKqkzb-Nykb0ZQ"><img src="/images/learning/perlzemi-channel-icon.jpg">Perlプログラミングちゃんねる</a></li>
      <td><a href="https://perlzemi.com/"><img src="/images/learning/perlzemitut-logo.png">Perlゼミ</a></li>
    </tr>
    <tr>
      <td><a href="https://webdesign.perlzemi.com"><img src="/images/learning/webdesign-icon.png">HTML・CSS入門</a></li> 
      <td><a href="https://webapp.perlzemi.com"><img src="/images/learning/websystem-logo.png">Webシステム開発入門</a></li>
    </tr>
    <tr>
      <td><a href="https://linux.perlzemi.com"><img src="/images/learning/linux-server-admin-logo.png">Linuxサーバー管理入門</a></li>
      <td><a href="https://mariadb.perlzemi.com"><img src="/images/learning/mariadb-logo.png">MariaDBデータベース入門</a></li>
    </tr>
    <tr>
    </tr>
  </table>
<div>
