<div class="learning">
  <h2>
    <div>研修教材</div>
  </h2>

  <div class="learning_message">
    Webデザイナー・Webエンジニアの教育を<br>目的としたオリジナルの研修教材
  </div>
  
  <table>
    <tr>
      <td><a href="https://www.youtube.com/channel/UCbeAS6ZXpSKqkzb-Nykb0ZQ"><img src="/images/learning/perlzemi-channel-icon.jpg">動画で0からプログラミング</a></li>
      <td><a href="https://tutorial.perlzemi.com/"><img src="/images/learning/perlzemitut-logo.png">Perlプログラミング入門</a></li>
    </tr>
    <tr>
      <td><a href="https://webdesign.perlzemi.com"><img src="/images/learning/webdesign-icon.png">Webデザイン入門</a></li> 
      <td><a href="https://web.perlzemi.com"><img src="/images/learning/websystem-logo.png">Webシステム開発入門</a></li>
    </tr>
    <tr>
      <td><a href="https://linux.perlzemi.com"><img src="/images/learning/linux-server-admin-logo.png">Linuxサーバー管理入門</a></li>
      <td><a href="https://mariadb.perlzemi.com"><img src="/images/learning/mariadb-logo.png">MariaDBデータベース入門</a></li>
    </tr>
    <tr>
      <td><a href="http://www.perlzemi.com">オンライン・プログラミングスクール</a></li>
    </tr>
    <tr>
    </tr>
  </table>
<div>
