<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
  $(function() {
    $('.mail-form button').on('click', function () {
      var form_values = $('.mail-form form').serialize();
      $.post(
        "/mail.cgi",
        form_values,
        function (data) {
          if (data.success) {
            $('.mail-form').html('<div class="mail-form-success">お見積りを受け付けました。<br>ご指定していただいたメールアドレスに、返信します。</div>');
          }
          else {
            // エラーメッセージ
            var errors = data.errors;
            $('.mail-form-errors').empty();
            for (var i = 0; i < errors.length; i++) {
              var error = errors[i];
              var li = $('<li></li>');
              li.text(error);
              $('.mail-form-errors').append(li);
            }
          }
        },
        "json"
      );
    });
  });
</script>


<div class="mail-form">
  <h2>
    <div>お見積り</div>
  </h2>
  <ul class="mail-form-errors">
  </ul>
  <form>
    <label>
      <div class="mail-form-title">
        会社名(担当者様名):
      </div>
      <div class="mail-form-body">
        <input type="text" name="name"><br>
      </div>
    </label>
    <label>
      <div class="mail-form-title">
        メールアドレス:
      </div>
      <div class="mail-form-body">
        <input type="text" name="email">
      </div>
    </label>
    <label>
      <div class="mail-form-title">
        実現したい内容をもれなくお書きください:
      </div>
      <div class="mail-form-body">
        <textarea name="message"></textarea>
      </div>
    </label>
    <div>
      <button type="button">見積もり内容を送信</button>
    </div>
  </form>
</div>
