<div class="message">
  <h2>代表あいさつ</h2>

  <div class="message_message">
    木本システム代表・木本裕紀からのあいさつです。
  </div>

  <h3>お客様へ</h3>
  <div>
    木本システムの使命は、顧客のニーズを満たし、コストパフォーマンスに優れたWebサービス開発を提供することです。
  </div>
  
  <h3>今後共に働くことになるかもしれない方へ</h3>
  <div>
    木本システムの使命は、顧客のニーズを満たし、コストパフォーマンスに優れたWebサービス開発を提供することです。顧客のニーズを満たすために、過不足なく要件をヒアリングできること、コストパフォーマンスに関して最適な手法を提案できること、起こりうるシステムリスクを正しく伝えること、伝えた上でお客様に選択してもらうこと、が大切です。開発言語は、私の趣味もかねて、Perlを使います。
  </div>

  <h3>投資家・債権者の皆様へ</h3>
  <div>
    木本システムの使命は、顧客のニーズを満たし、コストパフォーマンスに優れたWebサービス開発を提供することです。
  </div>
</div>
