<div class="message">
  <h2>代表あいさつ</h2>

  <div class="message_message">
    木本システム代表 木本裕紀(きもとゆうき)からのメッセージ
  </div>
  <div class="message_image">
    <img src="/images/message/message-image.jpg">
  </div>

  <h3>お客様のニーズを満たす<br>コストパフォーマンスに優れた<br>PerlによるWebシステム開発を提供</h3>
  <p>
    木本システムは、お客様のニーズを満たし、コストパフォーマンスに優れたPerlによるWebシステム開発を行うことを使命としています。
  </p>
  <p>
    木本システムでは、PerlのWebシステム開発者には、顧客のニーズを満たすために、過不足なく要件をヒアリングできること、コストパフォーマンスに関して最適な手法を提案できること、起こりうるシステムリスクを正しく伝えること、伝えた上でお客様に選択してもらうことが、大切ということを理解してもらうようにしています。
  </p>
</div>
