<div class="message">
  <div class="page_top_basic">
    <h2>代表あいさつ</h2>
  </div>
  
  <div class="message_image">
    <img src="/images/message/message-image.jpg">
  </div>
  
  <div class="inside">
    <h3>お客様のニーズを満たす<br>コストパフォーマンスに優れた<br>Perlによるシステム開発を提供</h3>
    <p>
      Perlクラブは、お客様のニーズを満たし、コストパフォーマンスに優れたPerlによるシステム開発を行うことを使命としています。
    </p>
    <p>
      Perlクラブでは、Perlのシステム開発者には、顧客のニーズを満たすために、過不足なく要件をヒアリングできること、コストパフォーマンスに関して最適な手法を提案できること、起こりうるシステムリスクを正しく伝えること、伝えた上でお客様に選択してもらうことが、大切ということを理解してもらうようにしています。
    </p>
  </div>
</div>
