<div class="news">
  <div class="page_top_basic">
    <h2>ニュース</h2>
    <div class="description">
      新規サービスのお知らせ。
    </div>
  </div>
  <div class="index_news">
    <table class="inside">
      <tr>
        <th>2020年8月4日</th><td><a href="/blog/20200801073906.html">UTF-8以外の文字コードで書かれたPerlのシステムをUTF-8に書き換えるサービス</a>を公開</td>
      </tr>
      <tr>
        <th>2020年8月3日</th><td><a href="/blog/20200702071557.html"><a href="/blog/20200803070713.html">社会人・学生の方が対象のプログラミングのマンツーマンレッスン</a>を公開</td>
      </tr>
      <tr>
        <th>2020年7月29日</th><td><a href="/blog/20200702071557.html">基本月額30万円のWebシステム開発・業務システム開発サービス</a>を公開</td>
      </tr>
      <tr>
        <th>2020年6月11日</th><td>Perlシステム開発の特徴を追加</td>
      </tr>
      <tr>
        <th>2020年5月1日</th><td><a href="/blog/20200501072316.html">お問い合わせから開発までの流れ</a>を公開しました</td>
      </tr>
      <tr>
        <th>2020年4月7日</th><td><a href="/blog/20200410072428.html">木本システム株式会社の開発実績を追加</a></td>
      </tr>
      <tr>
        <th>2020年3月9日</th><td><a href="/message.html">代表からのメッセージ</a></td>
      </tr>
      <tr>
        <th>2020年1月14日</th><td>木本裕紀(きもと ゆうき)が、東京都港区にて、業務システムの受託開発を開始。</td>
      </tr>
    </table>
  </div>
<div>
