<style>
  .bottom {
    display:none;
  }
</style>

<div class="recruit">
  <h2>採用情報</h2>

  <div class="recruit_message">
    <div>木本システム株式会社の採用情報</div>
    <div>PerlでのWebシステム開発を仕事にしたい仲間を募集</div>
  </div>
  
  <ul>
    <li><a href="#web_engeneer">Perl Webシステム開発者</a></li>
    <li><a href="#web_content">Perl Webシステム開発アシスタント</a></li>
    <li><a href="#web_content">Perl Webコンテンツ開発アシスタント</a></li>
    <li><a href="#jimu">一般事務</a></li>
  </ul>
  
  <div id="web_engeneer" style="height:1px"></div>
  
  <h3>Perl Webシステム開発者</h3>

  <div class="recruit_description">
    Perl Webシステム開発者のお仕事の募集
  </div>

  <table>
    <tr>
      <th>
        仕事内容
      </th>
      <td>
        PerlによるWebシステム開発。顧客への要件ヒアリング、Webシステム開発設計・Perlプログラミング・データベース・Linux/Unixサーバー管理・HTML/CSSコーディングなど、Webシステム開発に必要な業務。
      </td>
    </tr>
    <tr>
      <th>
        求められる能力
      </th>
      <td>
        顧客への要件のヒアリングから、Webサイトの完成までが仕事内容です。<br>
        データベースから取り出したデータを、必要なデータ構造に変換できる能力が求められます。<br>
        SQLのjoin句を使って、テーブルを結合できること、集計関数を使って、必要なデータを取り出せる<br>
        Perl Webシステム開発者のお仕事が中心ですが、指定された文字や画像を希望の位置に配置できる、スマートフォン対応させるためのHTML・CSSを組めるなど、基本的なWebデザインの能力が求められます。
      </td>
    </tr>
    <tr>
      <th>
        応募に必要な資格
      </th>
      <td>
        基本情報技術者または応用情報技術者 (Perl Webシステム開発者の基礎教養として、情報処理の基礎を理解していることの確認)
      </td>
    </tr>
    <tr>
      <th>
        募集に必要なもの
      </th>
      <td>
        Perlプログラミングで、データベースから情報を取得し、検索結果を表示している自作のWebサイト。趣味・仕事の過去実績、どちらでもOK。実際に、自分で作成したかどうかは、面接時に質問とコーディング実務試験で確認を行います。<br>
        履歴書。職務経歴書。
      </td>
    </tr>
    <tr>
      <th>
        必要な経歴
      </th>
      <td>
        なし。業界未経験可。Webサービスを独力で作成できる実務能力を重視します。
      </td>
    </tr>
    <tr>
      <th>
        勤務場所
      </th>
      <td>
        自社開発、リモート案件の場合は、東京都港区大門。客先案件の場合は、その住所。
      </td>
    </tr>
    <tr>
      <th>
        勤務形態
      </th>
      <td>
        正社員<br>
        9:00～18:00(昼休憩1時間、実働8時間) 残業なし<br>
        土日祝休み・ゴールデンウィーク休暇・盆休み・正月休み<br>
        システム障害発生時の緊急対応あり(振休を取得してください)。<br>
        振休は業務に支障がない任意の日にとれます。配偶者や子供の病院・勉強会参加など節度の範囲でご利用ください。<br>
        有休休暇消化推奨。病欠に有休休暇使用可。<br><br>
      </td>
    </tr>
    <tr>
      <th>
        給与
      </th>
      <td>
        未経験者 月額22万円～。実務経験者 月額24万円～。昇給あり。賞与あり。<br><br>
      </td>
    </tr>
  </table>

  <div id="web_content" style="height:1px"></div>
  <h3>Perl Webシステム開発アシスタント</h3>

  <div class="recruit_description">
    Perl Webシステム開発アシスタントのお仕事の募集
  </div>
  
  <table>
    <tr>
      <th>
        仕事内容
      </th>
      <td>
        PerlによるWebシステム開発のアシスタント。Webシステム設計・Perlプログラミング・データベース・Linux/Unixサーバー管理・HTML/CSSコーディングなど、Webシステム開発に必要な業務。実績と技術力のあるPerlのWebシステム開発者のサポートあり。
      </td>
    </tr>
    <tr>
      <th>
        求められる能力
      </th>
      <td>
        HTML・CSSで、簡易的なWebページを作成できる。<br>
        ループ・条件分岐・ファイル入出力・CSVファイルの処理など、プログラミングの基本的な処理ができる能力が必要です。</br>
      </td>
    </tr>
    <tr>
      <th>
        応募に必要な資格
      </th>
      <td>
        基本情報処理 (Perl Webシステム開発アシスタントとして情報処理の基礎を理解していることの確認)
      </td>
    </tr>
    <tr>
      <th>
        募集に必要なもの
      </th>
      <td>
        Perlプログラミングで、データベースから情報を取得し、検索結果を表示している自作のWebサイト。趣味・仕事の過去実績、どちらでもOK。実際に、自分で作成したかどうかは、面接時に質問とコーディング実務試験で確認を行います。
      </td>
    </tr>
    <tr>
      <th>
        必要な経歴
      </th>
      <td>
        なし。業界未経験可。簡単なWebサイトが作成できる実務能力を重視します。フルタイムで働けない事情のある方、学生の方、歓迎。
      </td>
    </tr>
    <tr>
      <th>
        勤務場所
      </th>
      <td>
        自社開発、リモート案件の場合は、東京都港区大門。客先案件の場合は、その住所。
      </td>
    </tr>
    <tr>
      <th>
        勤務形態
      </th>
      <td>
        アルバイト<br>
        月～金 週3回～5回 9:00～18:00の間で3～4時間程度<br>
        社会保険加入可
      </td>
    </tr>
    <tr>
      <th>
        給与
      </th>
      <td>
        アルバイト<br>
        時給1700円～。交通費支給。<br>
      </td>
    </tr>
  </table>

  <div id="web_content" style="height:1px"></div>
  <h3>Perl Webコンテンツ開発アシスタント</h3>

  <div class="recruit_description">
    Perl Webコンテンツ開発アシスタントのお仕事の募集
  </div>
  
  <table>
    <tr>
      <th>
        仕事内容
      </th>
      <td>
        Perlゼミを中心とするWebコンテンツ開発のアシスタント。
      </td>
    </tr>
    <tr>
      <th>
        求められる能力
      </th>
      <td>
        HTML・CSSで、簡易的なWebページを作成できる。<br>
        簡単なPerlプログラミングが書ける。
      </td>
    </tr>
    <tr>
      <th>
        応募に必要な資格
      </th>
      <td>
        なし
      </td>
    </tr>
    <tr>
      <th>
        募集に必要なもの
      </th>
      <td>
        履歴書。職務経歴書。
      </td>
    </tr>
    <tr>
      <th>
        必要な経歴
      </th>
      <td>
        なし。業界未経験可。
      </td>
    </tr>
    <tr>
      <th>
        勤務場所
      </th>
      <td>
        東京都港区大門。
      </td>
    </tr>
    <tr>
      <th>
        勤務形態
      </th>
      <td>
        アルバイト<br>
        月～金で週1回 9:00～18:00の間で2～3時間程度<br>
        社会保険加入可。
      </td>
    </tr>
    <tr>
      <th>
        給与
      </th>
      <td>
        アルバイト<br>
        時給1050円～。交通費支給。<br>
      </td>
    </tr>
  </table>


  <div id="jimu" style="height:1px"></div>
  <h3>一般事務</h3>

  <div class="recruit_description">
    一般事務のお仕事の募集
  </div>

  <table>
    <tr>
      <th>
        仕事内容
      </th>
      <td>
        社内での一般事務のお仕事です。PerlによるWebシステム開発を提供している法人様との電話のやり取り。Excelを使った簡易な事務作業などです。
      </td>
    </tr>
    <tr>
      <th>
        求められる能力
      </th>
      <td>
        前向きで人と会話するのが好き<br>
        Excelの基本操作ができる
      </td>
    </tr>
    <tr>
      <th>
        応募に必要な資格
      </th>
      <td>
        MOS Excel スペシャリスト(Excelを使った簡易な事務作業ができることの確認)
      </td>
    </tr>
    <tr>
      <th>
        募集に必要なもの
      </th>
      <td>
        履歴書。職務経歴書。
      </td>
    </tr>
    <tr>
      <th>
        必要な経歴
      </th>
      <td>
        なし。
      </td>
    </tr>
    <tr>
      <th>
        勤務場所
      </th>
      <td>
        東京都港区大門
      </td>
    </tr>
    <tr>
      <th>
        勤務形態
      </th>
      <td>
        アルバイト<br>
        週3回～5回 9:00～18:00の間で3～4時間程度<br>
        社会保険加入可。
      </td>
    </tr>
    <tr>
      <th>
        給与
      </th>
      <td>
        アルバイト<br>
        時給1250円～。交通費支給。年額103万円扶養控除の範囲内で調整可能。<br>
      </td>
    </tr>
  </table>
</div>
