<div class="services">
  <h2>
    <div>サービス</div>
  </h2>

  <div class="services_message">
    Webサイト製作・Web開発のサービスパッケージ
  </div>
  
  <ul>
    <li><a href="javascript:void">Webサイト製作シンプルパッケージ</a></li>
    <li><a href="javascript:void">Web開発スタートアップパッケージ</a></li>
    <li><a href="javascript:void">Web開発マネージドパッケージ</a></li>
    <li><a href="javascript:void">システム運用保守パッケージ</a></li>
    <li><a href="javascript:void">業務システム効率化パッケージ</a></li>
    <li><a href="javascript:void">android・iphoneバックエンド開発パッケージ</a></li>
    <li><a href="javascript:void">チャットコンサルティングパッケージ</a></li>
    <li><a href="javascript:void">自社エンジニア研修パッケージ</a></li>
    <li><a href="javascript:void">自社システム開発支援パッケージ</a></li>
    <li><a href="javascript:void">既存Perlシステムの保守・改修パッケージ</a></li>
    <li><a href="javascript:void">CGIリファクタリングパッケージ</a></li>
    <li><a href="javascript:void">お問合せ</a></li>
  </ul>
<div>
