<div class="services">
  <h2>サービス</h2>

  <h3>Webシステム開発</h3>
  
  <ul>
    <li><a href="javascript:void">Webシステム開発スタートアップパッケージ<br>基本価格 月額29万8000円</a></li>
    <li><a href="javascript:void">Webシステム開発マネージドパッケージ<br>基本価格 月額59万8000円</a></li>
    <li><a href="javascript:void">Webシステム運用保守パッケージ<br>基本価格 月額29万8000円</a></li>
  </ul>

  <h3>Perlシステム保守・改修</h3>
  
  <ul>
    <li><a href="javascript:void">Perlシステムの引受・改修パッケージ</a></li>
    <li><a href="javascript:void">CGIリファクタリングパッケージ</a></li>
  </ul>

  <h3>分野別</h3>
  
  <ul>
    <li><a href="javascript:void">android・iphoneバックエンド開発パッケージ</a></li>
    <li><a href="javascript:void">業務システム効率化パッケージ</a></li>
  </ul>
  
  <h3>エンジニア研修</h3>

  <ul>
    <li><a href="javascript:void">エンジニア研修パッケージ</a></li>
    <li><a href="javascript:void">Webシステム開発支援パッケージ</a></li>
  </ul>

<div>
