<div class="learning">
  <h2>
    <div>サービス</div>
  </h2>

  <div class="learning_message">
    Webサイト制作・Web開発のサービスパッケージ
  </div>
  
  <ul>
    <li><a href="javascript:void">Web製作シンプルパッケージ</a></li>
    <li><a href="javascript:void">Web開発スタートアップパッケージ</a></li>
    <li><a href="javascript:void">Web開発マネージドパッケージ</a></li>
    <li><a href="javascript:void">システム運用保守パッケージ</a></li>
    <li><a href="javascript:void">業務システム効率化パッケージ</a></li>
    <li><a href="javascript:void">チャットコンサルティングパッケージ</a></li>
    <li><a href="javascript:void">自社エンジニア研修パッケージ</a></li>
    <li><a href="javascript:void">自社システム開発支援パッケージ</a></li>
  </ul>
<div>
