<style>
  .bottom {
    display:none;
  }
</style>

<div class="achieve">
  <div class="page_top_basic">
    <h2>技術情報</h2>
    <div class="inside">
      <div class="description">
        木本システム株式会社の技術情報<br>
      </div>
    </div>
  </div>

  <h3>Webシステム開発</h3>
  
  <div class="inside">
    <ul>
      <li><a href="/blog/20200802082056.html">WebフレームワークMojoliciousを使ったWebシステム開発</a></li>
      <li><a href="/blog/20200801073906.html">UTF-8以外の文字コードで書かれたPerlのシステムをUTF-8に書き換えるサービス</a></li>
    </ul>
  </div>
<div>
