<style>
  .bottom {
    display:none;
  }
</style>

<div class="achieve">
  <div class="page_top_basic">
    <h2>技術情報</h2>
    <div class="inside">
      <div class="description">
        木本システム株式会社の技術情報<br>
      </div>
    </div>
  </div>
  
  <h3>Webシステム開発</h3>
  
  <div class="inside">
    <ul>
      <li><a href="/blog/20200802082056.html">WebフレームワークMojoliciousを使ったWebシステム開発</a></li>
    </ul>
  </div>

  <h3>セキュリティ</h3>

  <div class="inside">
    <ul>
      <li><a href="/blog/20200809075019.html">Webアプリケーションのセキュリティ対策</a></li>
    </ul>
  </div>
  
  <h3>Perl技術</h3>
  
  <div class="inside">
    <ul>
      <li><a href="/blog/20200903072312.html">Perlプログラミング入門サイトの運営</a></li>
      <li><a href="/blog/20200903072312.html">Mojoliciousドキュメント日本語訳の運営</a></li>
    </ul>
  </div>

  <h3>Perlの特徴</h3>
  
  <div class="inside">
    <ul>
      <li><a href="/reason/reason1.html">PerlはWebサーバーとして最適で無料で利用可能なLinuxとの相性がバツグン</a></li>
      <li><a href="/reason/reason2.html">テキストデータ処理に最適化された<br>開発効率とパフォーマンス</a></li>
      <li><a href="/reason/reason3.html">セキュリティ脆弱性が<br>発見された場合の<br>安心セキュリティアップデート</a></li>
    </ul>
  </div>
<div>
